<!DOCTYPE html>
<html lang="fr">
<ul class="list-unstyled">
    <dl>
        <dt>Type:</dt>
        <dd>{{ type }}/10</dd>
    </dl>
    <dl>
        <dt>Energie:</dt>
        <dd>{{ energie }}/10</dd>
    </dl>
    <dl>
        <dt>Kilometrage:</dt>
        <dd>{{ dist }}/10</dd>
    </dl>
    <dl>
        <dt>Age:</dt>
        <dd>{{ year }}/10</dd>
    </dl>
    <dl>
        <dt>Total:</dt>
        <dd>{{ total }}/40</dd>
    </dl>
        {% if bonus > 0 %}
            <dl ><dt>Malus:</dt>
                <dd style="color: red">+{{ bonus }}%</dd>
            </dl>
        {% elif bonus < 0 %}
            <dl style="color: green"><dt>
                Bonus:</dt>
                <dd>{{ bonus }}%</dd>
            </dl>
        {% endif %}

    <dl>
        <dt>Taux d'emprunt:</dt>
        <dd>{{ rate }}%</dd>
    </dl>
</ul>
</html>